/*Name: Uday S. Trivedi
Date: 1/21/2018
Description: Assignment # 1 CS 290 - HTML FILE*/

body{
      font-family: 'Raleway', sans-serif;
      background-color: rgb(255,252,255);

} 


.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
}


p{
    font-size: 17px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    align-content: center;
    margin: auto; max-width: 300px;
}

.centerRow { margin: auto; max-width: 500px;}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 0%;
  border: 0px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: white;
}

.carousel-indicators li{
    background-color:white;
}

.carousel-indicators .active{
    background-color: darkred;
}