/*Name: Uday S. Trivedi
Date: 1/21/2018
Description: Assignment # 1 CS 290 - HTML FILE*/

body{
      background-color: rgb(252, 252, 255);
      /* font-family: 'Poiret One', cursive; */
      font-family: 'Raleway', sans-serif;

}


.navbar-brand{
    //background-color: rgb(252, 252, 255);
    font-family: 'Poiret One', cursive;
}


p{
    font-size: 17px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    align-content: center;
    margin: auto; max-width: 300px;
}

.centerRow { margin: auto; max-width: 500px;}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 0%;
  border: 0px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.carousel-indicators li{
    background-color:black;
}

.carousel-indicators .active{
    background-color: grey;
}

/* table {
    border-style: solid;
}

th {
    border-style: solid;
}

td {
    border-style: solid;
    background-color: black;
    color: yellow;
    text-align: center;
}



.outer-content{
    background-color: pink;
    float: left;
    position: relative;
    width: 75%;
    height: 40px;
    margin-top: 20px;
}

.inner-content {
    position: relative;
    width: 75%;
    height: 50%;
    background-color: blue;
    color: white;
    text-align: center;
    margin: 0 auto;
    top: 25%;
}

.formGetPost{
    position:relative;
    margin-top: 100px;
}

fieldset{
    margin: 1em 0.7em 0.3em;
}

tr:nth-of-type(2n) td, tr:nth-of-type(2n) th{
    background:red;
} */