/* Jay Swaminarayan - Swami Shreeji */


h1 {
    text-align: right;
}

#text1{
    padding-left: 100px;
    padding-right: 100px;
}

span{
    background-color: blue;
    color: white
}

#vidDes{
    font-size: 16px;
    padding-left: 100px;
    padding-right: 100px;

}


#buttonPrev{
    display: flex;
    align-content: center;
}

#buttonNext{
    display: flex;
    align-content: center;
    position: relative;
    left: 35px;
}


