/* Uday Trivedi */

h1 {
    text-align: right;
}

#text1{
    padding-left: 100px;
    padding-right: 100px;
}

span{
    color: black;
}

#vidDes{
    font-size: 16px;
    padding-left: 100px;
    padding-right: 100px;

}


#buttonPrev{
    display: flex;
    align-content: center;
}

#buttonNext{
    display: flex;
    align-content: center;
    position: relative;
    left: 35px;
}

#myProgress {
    width: 100%;
    background-color: white;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: white;
    text-align: center; /* To center status bar horizontally  */
    line-height: 30px; /* To center status bar vertically */
    color: white; 
}

#loadNotice{
    font-size: 15px;
}

#status, #mybar2{
    color:white;
    background-color: rgb(185, 23, 23);
}

