/* Jay Swaminarayan - Swami Shreeji */


h1 {
    text-align: right;
}

#b1{
    display: flex;
    align-content: center;
}

#b2{
    display: flex;
    align-content: center;
    position: relative;
    left: 35px;
}


/* #b1, #b2 {
    display: flex;
    justify-content: center;
    align-items: center;
  } */